[Unit]
Description=Qubes Whonix network proxy setup
Before=network.target qubes-update-check.service qubes-update-check.timer
After=iptables.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/qubes-whonix/init/network-proxy-setup
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
Alias=qubes-network.service
