# whonixwheck -- Whonix Check Autostart
# Checks many important aspects of Whonix.
#
# See also related configuration file:
# /etc/tmpfiles.d/whonixcheck.conf

[Unit]
Description = Checks many important aspects of Whonix
Before = sdwdate.service
After = syslog.target network.target tor.service

[Service]
Type = simple
#Type = oneshot
#RemainAfterExit = yes
User = user
Group = user
ExecStartPre = /usr/bin/install -m 0775 -d --owner user --group user /var/lib/whonixcheck
ExecStartPre = /usr/bin/install -m 0775 -d --owner user --group user /var/lib/whonix/whonixblog
ExecStart = /usr/lib/whonixcheckdaemon
ExecReload = /bin/kill -HUP ${MAINPID}

## General options
Restart = on-failure
#WatchdogSec = 1m
StandardOutput = syslog

[Install]
WantedBy=multi-user.target
