## This file is part of Whonix
## -- and --
## The Qubes OS Project, http://www.qubes-os.org
##
## Copyright (C) 2014  Jason Mehring <nrgaway@gmail.com>
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: qubes-whonix
Section: admin
Priority: extra
Maintainer: Jason Mehring <nrgaway@gmail.com>
Uploaders: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), faketime, genmkfile, python, dh-systemd (>= 1.5)
Homepage: https://github.com/Whonix/qubes-whonix
Vcs-Browser: https://github.com/Whonix/qubes-whonix
Vcs-Git: https://github.com/Whonix/qubes-whonix.git
Standards-Version: 3.9.4

Package: qubes-whonix
Architecture: all
Depends: qubes-core-agent (>= 2.1.60), python-guimessages, whonix-setup-wizard, ethtool, initscripts, iptables, lintian, locales, net-tools, notify-osd, python, sudo, systemd, xen-utils-common, xinit, xsettingsd, xdg-user-dirs, ${misc:Depends}
Recommends: nautilus-open-terminal, gnome-packagekit, gnome-terminal, network-manager (>= 0.8.1-1), network-manager-gnome
Description: Qubes Configuration for Whonix-Gateway and Whonix-Workstation
 This package contains all the scripts and configuration options to be able
 to run Whonix-Gateway and Whonix-Workstation within a Qubes environment.
 .
 Whonix-Gateway should run as a ProxyVM.
 .
 Whonix-Workstation should run as an AppVM.
 .
 Template updates over Tor.
