#!/usr/bin/make -f
# -*- makefile -*-

## This file is part of Whonix
## -- and --
## The Qubes OS Project, http://www.qubes-os.org
##
## Copyright (C) 2014  Jason Mehring <nrgaway@gmail.com>
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

export DESTDIR=$(shell pwd)/debian/qubes-whonix

%:
	dh $@ --with systemd

override_dh_installchangelogs:
	dh_installchangelogs changelog.upstream upstream

override_dh_auto_build:
	dh_clean --keep
	make install DESTDIR=$(DESTDIR)

override_dh_auto_install:
	@true
