## This file is part of qubes-whonix.
## See the file COPYING for copying conditions.

[Desktop Entry]
Type=Application
Terminal=false
Exec=/usr/lib/qubes-whonix/qubes-whonixsetup

