# tor.service -- this systemd configuration file for Tor sets up a
# relatively conservative, hardened Tor service.
#
# See also related configuration file:
# /etc/tmpfiles.d/tor.conf

[Unit]
Description = Whonix Tor anonymizing overlay network for TCP
After = syslog.target network.target nss-lookup.target

[Service]
Type = simple
ExecStartPre = /usr/bin/tor --defaults-torrc /usr/share/tor/tor-service-defaults-torrc --verify-config
ExecStart = /usr/bin/tor --defaults-torrc /usr/share/tor/tor-service-defaults-torrc --runasdaemon 0
ExecReload = /bin/kill -HUP ${MAINPID}

## General options
KillSignal = SIGINT
TimeoutSec = 30
Restart = on-failure
#WatchdogSec = 1m
LimitNOFILE = 32768
StandardOutput = syslog

[Install]
WantedBy=multi-user.target
